<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings, <%= @user.first_name %></h1>
    <p>
      Congratulations. You're officially a member of the S3. We knew you'd make the right choice.</p>
    <p>We don't have much information that we can share right now, but we can tell you that our annual secret meeting this year will take place at an undisclosed location, at 7PM on Saturday, December 15th.</p>
    <p>On Friday, December 7th at midnight, you will receive a secret santa match name, as well as the location of the party. Once you receive your match name, you can begin finding and purchasing the perfect gift for them.</p>
    <p>That's all the information I have for you until the 7th at midnight. Until then, remember: we DO NOT talk about Secret Santa Society.

    <p>— Josh Ferrara &amp; the S3</p>

  </body>
</html>
